# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE
.idea/
*.swp